*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* nav style from here */
nav{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;

}
.nav-list ul{
    display: flex;
    gap:32px ;

    
}
.nav-list ul li a{
    text-decoration: none;
    color:black ;
    font-size: 16px;
    font-weight: 500;
    
}
.nav-list ul li{
    list-style: none;
}
.btn{
    background-color:  #469165;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding:12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: maroon;
    font-size: 18px;
}
 /* hero section styles from here */
 .hero{
    width: 100%;
    ;
    background-image:url(../assets/hero-bg.png)  ;
    ;
    /* max-width: 1600px; */
    background-size: cover;
    background-position: center;
    
    
 }
 .hero-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 179px;
    padding-top: 162px;
    padding-right: 295px;
    padding-left: 295px;
    text-align: center;
 }
 .early-access{
    background-color: white;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding:12px 8px ;
    border-radius:1000px ;
    width: 229px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 16px;
 }
    .hero-content h1{
        font-size: 72px;
        font-weight: bold;
        line-height: 84px;
        color: white;
        margin-top: 16px;
        margin-bottom: 16px;

    }
.hero-title-green{
    color: #469165;
}
.hero-p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
.hero-btn2{
    color: white;
    font-weight: 500;
    padding:12px 16px ;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    margin-left: 16px;
}
.hero-btn2:hover{
    background-color: maroon;
    border-color: maroon;
    font-size: 18px;
    
}

/* note section styles from here */
.notes-section{
    
    background: rgba(247, 246, 242, 1);
    margin-bottom: 120px;
}
.notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding-top: 64px;
    
}
.notes-heading h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: black;
}
.notes-heading p{
    color: #627382 ;
    margin-bottom: 44px;

}
.all-note-card{
    display: flex;
    gap:24px ;
    
}
.card{
    background-color: white;
    padding-top: 24px;
    height: 300px;
    width: 322px;
    padding : 24px;
    border-radius: 8px 8px 0px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.note-icon-png{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 15px;
    
    display: flex;
   
    
    background-color: #F95555 ;
}

.card h4{
    font-size: 24px ;
    font-weight: 600;
    margin-top:16px ;
    margin-bottom: 16px;
}
.card p{
    color: #627382 ;
}

/* brain section styles from here */
.second-brain-section{
    margin-bottom: 120px;
    
}
.brain-container{
    width: 85%;
    max-width: 1360px;
    display: flex;
    gap: 60px ;
    margin: 0 auto;
    
    align-items: center;
}
.green-paragrapgh{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.brain-container h2{
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
}
.brian-subtitle{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
    line-height: 20px;
}
.brain-content ul li{
    list-style: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.brain-content ul li img{
    margin-right: 5px;
}
/* think section styles from here */ 
.think-section{
    margin-bottom: 120px;
}
.think-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(247, 246, 242, 1);
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 12px;
    
}
.think-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    color: black;
}
.think-container p{
    color: #627382;
    margin-bottom: 24px;
}
.think-last-text{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.think-last-text i{
    font-size: 6px;
    color: #627382;

}
.think-last-text p{
    
    display: flex;
    align-items: center;
}

/* footersection styles from here */ 

footer{
   
    background-color:#001931 ;
    
}
.footer-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    
    color: white;
}
.footer-copy{
    text-align: center;

    padding-bottom: 30px;
    color: white;
}
.footer-social p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    font-weight: 600;
    color:#FAFAFA  ;
    
}
.footer-png i{
    margin-right: 10px;
    
     font-size: 20px;
    border-radius: 50%;
}

.footer-social{
    padding-right: 80px;
    
}
.footer-png a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.custom-line{
    background-color: #627382;
    height: 1px;
    border: none;
     width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hr{
    margin-top: 114px;
    
}


