*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* nav style from here */
nav{
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;

}
.nav-list ul{
    display: flex;
    gap:32px ;

    
}
.nav-list ul li a{
    text-decoration: none;
    color:black ;
    font-size: 16px;
    font-weight: 500;
    
}
.nav-list ul li{
    list-style: none;
}
.btn{
    background-color:  #469165;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding:12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: maroon;
}
 /* hero section styles from here */
 .hero{
    width: 100%;
    background-image:url(../assets/hero-bg.png) ;
    background-size: cover;
    background-position: center;
    
    
 }
 .hero-content{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 179px;
    padding-top: 162px;
    padding-right: 295px;
    padding-left: 295px;
    text-align: center;
 }
 .early-access{
    background-color: white;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding:12px 8px ;
    border-radius:1000px ;
    width: 229px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 16px;
 }
    .hero-content h1{
        font-size: 72px;
        font-weight: 700;
        line-height: 84px;
        color: white;
        margin-top: 16px;
        margin-bottom: 16px;

    }
.hero-title-green{
    color: #469165;
}
.hero-p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
.hero-btn2{
    color: white;
    font-weight: 500;
    padding:12px 16px ;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    margin-left: 16px;
}
.hero-btn2:hover{
    background-color: maroon;
    border-color: maroon;
    
}


